.container-fluid {
	margin: 0px;
	padding: 0px;
}

img[src="images/green.png"]{
	width: 100%;
	margin-bottom: 20px;
}

img[src="images/green2.jpg"]{
	width: 100%;
	margin-bottom: 20px;
}

img[src="images/frog.jpg"]{
	width: 100%;
	margin-bottom: 20px;
}

img[src="images/frog2.jpg"]{
	width: 100%;
	margin-bottom: 20px;
}

img[src="images/leaves.jpg"]{
	width: 100%;
	margin-bottom: 20px;
}

img[src="images/leaves2.jpg"]{
	width: 100%;
	margin-bottom: 20px;
}

img[src="images/waterfall.jpg"]{
	width: 100%;
	margin-bottom: 20px;
}

img[src="images/woods.jpg"]{
	width: 100%;
	margin-bottom: 20px;
}

img[src="images/trees.jpg"]{
	width: 100%;
	margin-bottom: 20px;
}